<template>
  <div class="luke-container">
    <div class="container">
      <!-- your design code here -->
    </div>
  </div>
</template>

<script>
  import {ArtistSvc} from '@/service/api'

  export default {
    data() {
      return {
        data : {}
      }
    },
    mounted() {
      this.data = ArtistSvc.getLuke()
      console.log(this.data)
    }
  }
</script>


