<template>
  <div>
    <h1 class="mt-3">Delivery Service Form</h1>
    <hr />
    <b-form @submit="submit">
      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">Name</label>
        </b-col>
        <b-col>
          <b-input id="name" />
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">Description</label>
        </b-col>
        <b-col>
          <b-input id="description" />
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">Phone Number</label>
        </b-col>
        <b-col>
          <b-input id="phone_number" />
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">PIC</label>
        </b-col>
        <b-col>
          <b-input id="pic" />
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">PIC Phone Number</label>
        </b-col>
        <b-col>
          <b-input id="pic_phone_number" />
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :cols="3">
          <label class="separator">Status</label>
        </b-col>
        <b-col>
          <b-form-select>
            <option>Active</option>
            <option>Not Active</option>
          </b-form-select>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col :offset="3">
          <b-button variant="success" type="submit" :disabled="false">
            <b-spinner small v-if="false" class="mx-2"></b-spinner> Submit
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  mounted() {

  },
  methods: {
    getData() {

    },
    submit(e) {
      e.preventDefault()
    },
    insert() {

    },
    update() {

    },
    validateNumber(value) {
      var re = /^(\(?\+?[0-9]*\)?)?[0-9\- \(\)]*$/
      return re.test(value)
    },
  },
}
</script>
