<template>
  <div>
    <b-row>
      <b-col :cols="6">
        <h1 class="m-0 text-dark">Delivery List</h1>
      </b-col>
      <b-col :cols="6" class="pt-2">
        <b-button variant="success" class="mb-4 float-right px-5">
         New Delivery Service
        </b-button>
      </b-col>
    </b-row>

    <b-card class="mb-4" title="Filter">
      <b-form @submit="handleFilter">
        <b-row>
          <b-col :cols="6">
            <b-row class="mb-4" align-v="center">
              <b-col :cols="3">
                <label class="separator">Name</label>
              </b-col>
              <b-col>
                <b-input />
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col class="text-center">
            <b-button type="submit" class="px-5" variant="primary">
              Filter
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>


    <div>
      <b-table-simple hover responsive>
        <b-thead>
          <b-tr>
            <b-th>No</b-th>
            <b-th>Name</b-th>
            <b-th>Description</b-th>
            <b-th>Phone Number</b-th>
            <b-th>PIC (phone)</b-th>
            <b-th style="min-width: 50px">Action</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr>
            <b-td>data</b-td>
            <b-td>data</b-td>
            <b-td>data</b-td>
            <b-td>data</b-td>
            <b-td>data</b-td>
            <b-td>
              <b-button size="sm" variant="primary">Edit</b-button>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </div>
    <div class="row">
        <div class="col-md-8">
          <b-pagination total-rows="0" per-page="10" aria-controls="my-table" @change="getData"></b-pagination>
        </div>
        <div class="col-md-4 text-right">
          Total Data: <b>0</b>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  mounted() {

  },
  methods: {
    handleFilter(e) {
      e.preventDefault()
    },
    getData(page = 1) {

    },
    resolveNo(index) {
      return ((index + 1) + ((this.pagination.current_page - 1) * this.pagination.per_page))
    },
  }
}
</script>
